#"-1" means automatic value selection. Where aplicable.

tile_w = -1
tile_h = -1

tile_comp_dlvls = 4
wavelet_type = 1

cblk_exp_w = 6
cblk_exp_h = 6

device = 0

target_size = 1000000

use_mct = 1

use_part2_mct = 0
mct_compression_method = 0

mct_klt_iterations = 10000
mct_klt_border_eigenvalue = 1.0
mct_klt_err = 1.0e-6
